@width: 360px;
@height: 40px;
@color: rgba(24, 144, 255, 1);
.loginForm {
  display: none;
}

.email,
.password {
  width: @width;
  height: @height;
  margin-bottom: 23px;
}

.remember {
  margin-right: 81px;
  color: rgba(0, 0, 0, 0.85);
}

.forgot {
  color: @color;
}

.signIn {
  width: @width;
  height: @height;
}
