.background_container {
  display: flex;
  background-color: white;
  justify-content: center;
  margin: 10px 0 0 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1184px;
  margin-top: 10px;
}
// .card {
//   // margin: 10px 10px 10px;
//   width: 240px;
// }
